/BankHSE/BankHSE.sln
/BankHSE/.DS_Store
/BankHSE/.idea/.idea.BankHSE/.idea
/BankHSE/BankConsoleApp/obj
/BankHSE/BankHSE.sln.DotSettings.user
/BankHSE/Components/obj
/BankHSE/Domain/obj
/BankHSE/Infrastructure/obj
/BankHSE/src
/BankHSE/Tests/obj
